* {
  margin: 0;
  padding: 0;
}

.homeBanner {
  background-image: url("/images/banner.jpg");
  height: 1061px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navBarContainer hr {
  opacity: 0.2;
}

.navBar {
  padding: 20px 50px;
}

.navBar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.homeBannerText {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeBannerText h1 {
  line-height: 97px;
  font-weight: bold;
  font-size: 70px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 20px;
  background-color: rgba(9,11,51, 0.7);
  border-radius: 10px;
}

.homeBannerText h4 {
  line-height: 42px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: rgba(9,11,51, 0.7);
  border-radius: 10px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.divider hr {
  width: 50px;
}

.divider span {
  color: rgb(255, 255, 255);
  font-size: 50px;
}
