.photosContainer {
    padding-top: 82px !important;
    padding-bottom: 93px !important;
    background-image: url("/images/background.jpg") !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photosContainer h2 {
    color: #4a3e5a;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 62px;
    font-size: 40px;
    font-weight: 400;
    font-family: "Raleway",sans-serif;
    letter-spacing: .05em;
}

.photosDivider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 18px;
}

.photosDivider span {
    font-size: 50px;
}

.photosDivider span, hr {
    color: #4a3e5a;
}

.photosDivider hr {
    width: 50px;
}

.photosContainer h4 {
    text-align: center;
    font-size: 18px;
    color: #656565;
    font-family: "Playfair Display",serif;
    font-style: italic;
    line-height: 1.85em;
    margin: 0;
}

.imageGrid {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*!*grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));*!*/
    /*grid-gap: 10px;*/
}

.imageGrid img {
    width: 400px;
}

.gridRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5rem;
    grid-auto-flow: dense;
}

@media (max-width: 1500px) {
    .gridRow {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 1000px) {
    .gridRow {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 500px) {
    .imageGrid img {
        width: 250px;
    }
}
